### filter

In [1]:
def even_check(n):
    return n%2==0

In [3]:
lst=[1,2,3,4,5,6,78,10]

list(filter(even_check,lst))

[2, 4, 6, 78, 10]

In [5]:
list(filter(lambda x:x%2==0,[]))

[]

In [67]:
# custom
def custom_filter(f,lst):
    even=[]
    if lst is None:
        return []
    for i in lst:
        if even_check(i):
            even=even+[i]
    return even

In [9]:
custom_filter(even_check,[1,3,4,6])

[4, 6]

In [11]:
a=(lambda x:x%2==0)

In [14]:
list(filter(a,(1,2,34)))

[2, 34]

In [15]:
list(filter(a,({12,5,2})))

[2, 12]

In [18]:
for i in ["x","y","z"]:
    for j in range(1,5):
        print(i*j,end=" ")

x xx xxx xxxx y yy yyy yyyy z zz zzz zzzz

## OOP's

- class is real world entity
- object is instance of the class
- objects have methods and properties

In [68]:


class test:
    pass

In [69]:
class TesT:
    pass

In [70]:
a=test()

In [71]:
a

In [72]:
type(a)

__main__.test

In [73]:
print(type(a))

<class '__main__.test'>

In [74]:
class  test1:
    pass
b=test1()
b.name="Anee"
b.age=21
b.year_of_birth=1999

In [75]:
b

In [76]:
b.__dir__()

['name',
 'age',
 'year_of_birth',
 '__module__',
 '__dict__',
 '__weakref__',
 '__doc__',
 '__repr__',
 '__hash__',
 '__str__',
 '__getattribute__',
 '__setattr__',
 '__delattr__',
 '__lt__',
 '__le__',
 '__eq__',
 '__ne__',
 '__gt__',
 '__ge__',
 '__init__',
 '__new__',
 '__reduce_ex__',
 '__reduce__',
 '__subclasshook__',
 '__init_subclass__',
 '__format__',
 '__sizeof__',
 '__dir__',
 '__class__']

In [77]:
b.__dict__

{'name': 'Anee', 'age': 21, 'year_of_birth': 1999}

In [78]:
c=test1()
c.name="muthyam"
c.age=19
c.year_of_birth=2002

In [79]:
c.__dict__

{'name': 'muthyam', 'age': 19, 'year_of_birth': 2002}

In [80]:
c.name

'muthyam'

In [81]:
c.surname

AttributeError: 'test1' object has no attribute 'surname'

In [82]:
def _display(c):
    print(f'{c.name} is {c.age} old and born in {c.year_of_birth}')

In [83]:
_display(b)

Anee is 21 old and born in 1999

In [84]:
#second method of define 

class Person:
    def __init__(self,name,surname ,yob):
        #class vaiable
        self.first_name=name
        self.surname=surname
        self.Birth_date=yob
        
    def _dispplay(self):
        print(f"The Person name is {self.first_name} {self.surname} and He was born in {self.Birth_date}")

In [85]:
p1=Person("Anee","Rajamoni",1999)

In [86]:
p1.__dict__

{'first_name': 'Anee', 'surname': 'Rajamoni', 'Birth_date': 1999}

In [87]:
p1._display()

AttributeError: 'Person' object has no attribute '_display'

In [88]:
#second method of define 

class Person:
    def __init__(anee,name,surname ,yob):
        #class vaiable
        anee.first_name=name
        anee.surname=surname
        anee.Birth_date=yob
        
    def _display(anee):
        print(f"The Person name is {anee.first_name} {anee.surname} and He was born in {anee.Birth_date}")

### methods

In [89]:
class Person:
    def __init__(a,name,sname,year_of_birth):
        a.name=name
        a.surname=sname
        a.yob=year_of_birth
    def age(a,current_year):
        """
        caculate the age
        """
        return current_year-a.yob
    def __str__(a):
        return f'{a.name} {a.surname} was born in {a.yob}'

In [90]:
alec=Person("Gladitor","Maximus",1999)

In [91]:
alec.__dict__

{'name': 'Gladitor', 'surname': 'Maximus', 'yob': 1999}

In [92]:
print(alec)
#string representation of object

Gladitor Maximus was born in 1999

In [93]:
alec.age(2020)

21

Similarly, the self variable is also an instance of the class. Since instances of a class have varying values we could state Dog.name = name rather than self.name = name. But since not all dogs share the same name, we need to be able to assign different values to different instances. Hence the need for the special self variable, which will help to keep track of individual instances of each class.

In [94]:
class Person1():
    
    def __init__(self,name):
        self.a=name
        
    
    
    def __init__(self,fullname,year,place):
        """
        constructor
        """
        self.x=name
        self.y=age
        self.z=year
    def __init__(self,surname,age):
        self.c=name
        self.d=age
        
    def __str__(self):
        return "Hey Hello"

In [95]:
per=Person1()

#in mutliple init methds always consider the last one

TypeError: __init__() missing 2 required positional arguments: 'surname' and 'age'

In [96]:
class abc:
    
    some_var=123
    
    def __init__(self,name):
        self.a=name
    def __str__(self):
        return "Hello"

In [97]:
p=abc("Ak")

In [98]:
print(p)

Hello

In [99]:
p.__dict__

{'a': 'Ak'}

In [100]:
abc.some_var

123

### methods3

In [101]:
class A:
    def set_name(self,name):
        self.name=name
    def set_surname(self,name):
        self.surname=name
    def display_user(self):
        return f"{self.name}{self.surname}"

In [102]:
a=A()

In [103]:
a.set_name("Vir")

In [104]:
a.set_surname("Kholi")

In [105]:
a.display_user()

'VirKholi'

## stats

In [106]:
(20-1)*8/(7.2)

21.11111111111111

In [107]:
73/129

0.5658914728682171

In [108]:
38/129

0.29457364341085274

In [109]:
(73+38)-129

-18

In [110]:
18/129

0.13953488372093023

In [111]:
max(0,1)

1

In [112]:
max('a','b')

'b'

In [113]:
max('a',"A")

'a'

In [114]:
ord('a')

97

In [115]:
ord('A')

65

In [116]:
ord('\n')

10

In [117]:
ord('9')

57

In [118]:
"".join(['a','b','A'])

'abA'

In [119]:
for index,item in enumerate([10,20,30,40]):
    print(item,index)

10 0
20 1
30 2
40 3

In [120]:
mystr="ak"
output=list(mystr)
for index ,letter in enumerate(mystr):
    for vowel in 'aeiou':
        if letter==vowel:
            output[index]='x'
output="".join(output)

In [121]:
output

'xk'

In [122]:
mystr='anee rajamoni'

In [123]:
"".join(mystr[len(mystr)-2]+mystr[len(mystr)-1])

'ni'

In [124]:
print(repr('hello'))==print(str("hello"))

'hello'
hello

True

In [125]:
print(str("hello"))

hello

In [126]:
mystr[-2:]

'ni'

In [127]:
x=10
def test():
    x=20
    print(x)
test()
print(x)

20
10

In [128]:
name = 'This is a global name'

def greet():
    # Enclosing function
    name = 'Sammy'

    def hello():
        print('Hello '+name)

    hello()

greet()


# Note how Sammy was used, because the hello() function was enclosed inside of
# the greet function!

# Global
#
print(name)

Hello Sammy
This is a global name

In [129]:
x="global"
def A():
    x="enclosig"
    def b():
        nonlocal x
        x="local"
        print(x)
    b()
A()
x

local

'global'

In [130]:
x="outside"
def report():
    global x
    x="inside"
    return x

In [131]:
r=report()
r

'inside'

In [132]:
x

'inside'

## JUNE 28th

In [134]:
alec.__class__

__main__.Person

In [136]:
alec.__dict__

{'name': 'Gladitor', 'surname': 'Maximus', 'yob': 1999}

In [137]:
class Person:
    def __init__(a,name,sname,year_of_birth):
        a.__name=name
        a.__surname=sname
        a._yob=year_of_birth
    def age(a,current_year):
        """
        caculate the age
        """
        return current_year-a._yob
    def __str__(a):
        return f'{a.__name} {a.__surname} was born in {a._yob}'

In [138]:
alec=Person("Gladitor","maximus",1984)

In [147]:
alec.__dict__

{'_Person__name': 'Gladitor', '_Person__surname': 'maximus', '_yob': 1984}

In [148]:
alec.__dict__.keys()

dict_keys(['_Person__name', '_Person__surname', '_yob'])

In [141]:
alec.__name

AttributeError: 'Person' object has no attribute '__name'

In [143]:
alec._Person__name

'Gladitor'

In [167]:
class A:
    def __init__(self,name,surname,yob):
        self.name=name
        self._surname=surname
        self.__yob=yob
    def _display1(self):
        print(f"{self.__yob}{self.name}{self._surname}")
    def __fullname(self):
        return "".join(self.name+self._surname)

In [168]:
a=A("anee","rajamoni",1999)

In [169]:
a.__dict__

{'name': 'anee', '_surname': 'rajamoni', '_A__yob': 1999}

In [170]:
a._display1()

1999aneerajamoni

In [171]:
a._A__fullname()

'aneerajamoni'

### inheritance

In [189]:
class xyz:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def test(self):
        return "this is a public method",f"the data varibles are {self.a} {self.b} {self.c}"

In [190]:
obj=xyz(4,5,6)
obj.test()

('this is a public method', 'the data varibles are 4 5 6')

In [191]:
class abc(xyz):
    pass

In [192]:
sub1=abc()
sub1.test()

TypeError: __init__() missing 3 required positional arguments: 'a', 'b', and 'c'

In [193]:
sub1=abc(4,5,10)
sub1.test()

('this is a public method', 'the data varibles are 4 5 10')

In [194]:
class P:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def test(self):
        return "this is a public method",f"the data varibles are {self.a} {self.b} {self.c}"

In [263]:
class C(P):
    def __init__(self,a,b,c,d):
        P.__init__(self,a,b,c)
        self.d=d
    def test(self):
        super().__init__(a,b,c)
        return self.d

In [264]:
c=C("anee","rajamoni","uceou",4)

In [265]:
c.test()

4

In [268]:
c.a

In [242]:
class C(P):
    def __init__(self,a,b,c,d):
#         P.__init__(self,a,b,c)
        super().__init__(a,b,c)
        self.d=d
        self.a=a
        self.b=b

In [243]:
obj=C(1,3,4,5)

In [244]:
obj.a
obj.test()

('this is a public method', 'the data varibles are 1 3 4')

In [235]:
class abc(P):
    def __init__(self,id,name):
        super(abc,self).__init__(a,b,c)

In [236]:
obj2=abc(9,"anee")

In [239]:
obj2

In [270]:
isinstance(obj2,abc)

True

In [271]:
issubclass(abc,P)

True

In [284]:
class A:
    def test(self):
        print("parent class method")
class B:
    def test(self):
        print("child class method")
        
class C(B,A):
    obja=A()
    objb=B()
    obja.test()
    objb.test()

parent class method
child class method

In [285]:
c=C()

In [286]:
c.test()

child class method

In [293]:
class A:
    def abc(self):
        print("parent class method")
class B(A):
    def xyz(self):
        print("child class method")
class C(B):
    def abc(self):
        print("C class")
a=B()
a.abc()
a.xyz()

parent class method
child class method

In [299]:
class A:
    def test(self,a=5):
        print("Class A",a)
class B(A):
    def test(self,a=10):
        print("MODIFIED TEST",a)

In [2]:
class Dog():
    def __init__(self,breed):
        self.breed=breed
x=Dog('lab')

In [3]:
x.breed

'lab'

In [6]:
class Dog():
    def __init__(self,input_breed):
        self.breed=input_breed
x=Dog(input_breed='lab')
x.breed

'lab'

In [7]:
class Dog():
    def __init__(self,input_breed,name):
        self.breed=input_breed
        self.name=name
x=Dog('lab','sammy')
x.breed

'lab'

In [8]:
x.name

'sammy'

In [12]:
class Dog():
    #class attributes
    species='mammal'
    def __init__(self,input_breed,name):
#         local 
        self.breed=input_breed
        self.name=name
x=Dog('lab','sammy')
x.breed

'lab'

In [13]:
x.species

'mammal'

In [14]:
Dog.species

'mammal'

In [15]:
new_dog=Dog('taller','roc')

In [16]:
new_dog.species

'mammal'

In [24]:
class Circle():
    pi=3.14
    def __init__(self,radius=1):
        self.radius=radius
    def area(self):
        return self.radius*self.radius*self.pi
    def circumfrence(self):
        return 2*self.pi*self.radius

In [25]:
o=Circle(10)

In [26]:
o.area()

314.0

In [27]:
o.circumfrence()

62.800000000000004

In [31]:
class Animal():
    def __init__(self):
        print("Animal created")
    def report(self):
        print("Animal")
    def eat(self):
        print("eating!!")
        
class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print("Dog created")
    def report(self):
        print("iam a dog")

In [32]:
d=Dog()

Animal created
Dog created

In [33]:
d.eat()

eating!!

In [34]:
d.report()

iam a dog

In [40]:
class Animal():
    def __init__(self,fur):
        print("Animal created")
        self.fur=fur
    def report(self):
        print("Animal")
    def eat(self):
        print("eating!!")
        
class Dog(Animal):
    def __init__(self,fur):
#         creating the instance forsuper
        Animal.__init__(self,fur)
        print("Dog created")
    def report(self):
        print("iam a dog")

In [41]:
d=Dog("a")

Animal created
Dog created

In [43]:
[1,2,3].__len__()

3

In [50]:
class Book():
    def __init__(self,title,author,pages):
        self.title=title
        self.author=author
        self.pages=pages
    def __repr__(self):
        return f"Title {self.title},Author :{self.author}"
    
    def __len__(self):
        return self.pages

In [51]:
mybook=Book("ML for all","Jose",250)

In [52]:
mybook

Title ML for all,Author :Jose

In [53]:
len(mybook)

250

In [54]:
class Account:
    def __init__(self,owner,balance=0):
        self.owner = owner
        self.balance = balance

    def __str__(self):
        return f'Account owner:   {self.owner}\nAccount balance: ${self.balance}'

    def deposit(self,dep_amt):
        self.balance += dep_amt
        print('Deposit Accepted')

    def withdraw(self,wd_amt):
        if self.balance >= wd_amt:
            self.balance -= wd_amt
            print('Withdrawal Accepted')
        else:
            print('Funds Unavailable!')


# 1. Instantiate the class
acct1 = Account('Jose',100)


# 2. Print the object
print(acct1)

Account owner:   Jose
Account balance: $100

### decorators

In [57]:
def hello(name="anee"):
    print('the hello() func has been run')
    
    def greet():
        return "   this is inside the greet()"
    
    def welcome():
        
        return "   This is inside welcome()"
    
    if name=="anee":
        return greet
    else:
        return welcome

In [59]:
x=hello("anee")

the hello() func has been run

In [60]:
x()

'   this is inside the greet()'

In [61]:
x=hello("ak")

the hello() func has been run

In [62]:
x()

'   This is inside welcome()'

In [73]:
def hello():
    return 'Hi Anee!'

def other(func):
    print('Other code would go here')
    print(func())

other(hello)

Other code would go here
Hi Anee!

In [74]:
def new_decorator(func):

    def wrap_func():
        print ("Code would be here, before executing the func")

        func()

        print ("Code here will execute after the func()")

    return wrap_func

def func_needs_decorator():
    print ("This function is in need of a Decorator")

func_needs_decorator()

# Reassign func_needs_decorator
func_needs_decorator = new_decorator(func_needs_decorator)

func_needs_decorator()

This function is in need of a Decorator
Code would be here, before executing the func
This function is in need of a Decorator
Code here will execute after the func()

In [72]:
def new_decorator(func):

    def wrap_func():
        print ("Code would be here, before executing the func")

        func()

        print ("Code here will execute after the func()")

    return wrap_func

@new_decorator
def func_needs_decorator():
    print ("This function is in need of a Decorator")

# func_needs_decorator()

# Reassign func_needs_decorator
# func_needs_decorator = new_decorator(func_needs_decorator)

func_needs_decorator()

Code would be here, before executing the func
This function is in need of a Decorator
Code here will execute after the func()