In [1]:
# import matplotlib.pyplot as plt 
# import numpy as np 
# from scipy.stats import norm
	
# x = np.linspace(0, 5, 100) 
	
# # Varying positional arguments 
# y1 = norm .pdf(x, 1, 3, 5) 
# y2 = norm .pdf(x, 1, 4, 4) 
# plt.plot(x, y1, "*", x, y2, "r--")

In [2]:
# importing library 

from scipy.stats import norm

In [3]:
	
numargs = norm.numargs 
a, b = 4.32, 3.18

In [4]:
rv = norm(a, b) 
	
print ("RV : \n", rv)

RV :
 <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001B596E087C8>

In [5]:
import numpy as np 
quantile = np.arange (0.01, 1, 0.1) 

# Random Variates 
R = norm.rvs(a, b) 
print ("Random Variates : \n", R) 

a=np.array([1,2,3,4,5,6,7,10])
# PDF 
R = norm.pdf(a) 
print ("\nProbability Distribution : \n", R)

Random Variates :
 -0.7180037780226813

Probability Distribution :
 [2.41970725e-01 5.39909665e-02 4.43184841e-03 1.33830226e-04
 1.48671951e-06 6.07588285e-09 9.13472041e-12 7.69459863e-23]

In [6]:
# plt.plot(R,a)

In [7]:
import pandas as pd
data=pd.DataFrame([1,2,3,1,2,1,100])

In [8]:
data.std()

0    37.17398
dtype: float64

In [9]:
data.mean(axis=0)

0    15.714286
dtype: float64

In [10]:
data1=pd.DataFrame([-0.42,-0.39,-0.36,-0.42,-0.39,-0.42,2.44])

In [11]:
data1.mean(axis=0)

0    0.005714
dtype: float64

In [12]:
sum=0
for i in iter(data1):
    sum+=data1[i]
sum

0   -0.42
1   -0.39
2   -0.36
3   -0.42
4   -0.39
5   -0.42
6    2.44
Name: 0, dtype: float64

In [13]:
data1.std()

0    1.073652
dtype: float64

## python basics
> - syntax
> - data types
> - varibles

In [14]:
pwd()

'D:\\INEURON'

### markdown tips

# title
## major headings
### subheadings
#### 4th level subheadings

__string__ 

**string** 

 _string_ 

*string*
$ mathematical symbols <br>
<font color=blue|red|green|pink|yellow>Text</font>

#### 1. variable is location in memory if which stores the data during the execution of the porgram

### integer
- real value
- predfined function **int()**

In [15]:
a=1863873765821765327862197836787982876309892813876308923786310932969632818993618369
a

1863873765821765327862197836787982876309892813876308923786310932969632818993618369

In [16]:
type(a)#interger

int

In [17]:
import sys

In [18]:
sys.executable
#location of the interpreter

'C:\\Users\\akraj\\Anaconda3\\python.exe'

In [19]:
sys.getsizeof(a)

60

In [20]:
_var1=56

In [21]:
_var1
type(_var1)

int

In [22]:
type(print(_var1))
#print always return the NoneType

56

NoneType

### string
- string is immutable and iterable
- predefined function **str()**

In [23]:
str1='hello'
str1

'hello'

In [24]:
str2="python"
str2

'python'

In [25]:
str3="""language"""
str3

'language'

In [26]:
print(str3)

language

In [27]:
#usage of the double quotes and single quotes
str4="ak's laptop name is acer"
str4

"ak's laptop name is acer"

In [28]:
str4[2]

"'"

In [29]:
# dir(str4)
# to list all the methodsf
for i in reversed(str3):
    print(i,end="")

egaugnal

### float
- decimal points 
- predefined **function float()**

In [30]:
var_float=13.2

In [31]:
type(var_float)

float

In [32]:
sys.getsizeof(var_float)

24

### complex
1.real and imag <br>
2.predefined function **complex()**

In [33]:
c=1+2j

In [34]:
c

(1+2j)

In [35]:
type(c)

complex

In [36]:
complex(1j,3j)

(-3+1j)

In [37]:
complex(3j,2)

5j

In [38]:
complex(3,2j)

(1+0j)

In [39]:
complex(1,2j)

(-1+0j)

# bool 
1.True 1 
2.False 0
3.predefined function **bool()**

In [40]:
int(True)

1

In [41]:
float(True)

1.0

In [42]:
str(True)

'True'

In [43]:
True+1

2

In [44]:
False+1

1

In [45]:
True*10+False

10

In [46]:
int(True)
int(False)
int('10')

10

### string indexing

In [47]:
s="python is insane"
s

'python is insane'

In [48]:
s[1]

'y'

In [49]:
# s[111]
# IndexError: string index out of range

In [50]:
s[1:]

'ython is insane'

In [51]:
s[1:3]

'yt'

In [52]:
s[1:22]

'ython is insane'

In [53]:
s[::-1]

'enasni si nohtyp'

In [54]:
s[::-2]

'ean inhy'

In [55]:
s[10:5:-1]

'i si '

In [56]:
s[-1:-7:-1]

'enasni'

In [57]:
s[1:-7:1]

'ython is'

In [58]:
s[-1:5:-1]

'enasni si '

In [59]:
s[-1:-3:-1]

'en'

In [60]:
s[::]

'python is insane'

In [61]:
s[::-1]

'enasni si nohtyp'

In [62]:
s[len(s)-1::-1]

'enasni si nohtyp'

In [63]:
# s[0]='j'
# TypeError: 'str' object does not support item assignment

### List 
1.collection hetrogenous <br>
2.mutable <br>
3.iterable <br>

In [64]:
a=[]
a

[]

In [65]:
b=list()
b

[]

In [66]:
v=[1,3,2,3,4,1.2,2.4,4.5,'python',"lang",1+2j,True]
v

[1, 3, 2, 3, 4, 1.2, 2.4, 4.5, 'python', 'lang', (1+2j), True]

In [67]:
v[-3]

'lang'

In [68]:
v[::-1]

[True, (1+2j), 'lang', 'python', 4.5, 2.4, 1.2, 4, 3, 2, 3, 1]

In [69]:
for i in v:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [70]:
v[0]='hello'
v

['hello', 3, 2, 3, 4, 1.2, 2.4, 4.5, 'python', 'lang', (1+2j), True]

In [71]:
v.insert(2,False)
v

['hello', 3, False, 2, 3, 4, 1.2, 2.4, 4.5, 'python', 'lang', (1+2j), True]

In [72]:
v

['hello', 3, False, 2, 3, 4, 1.2, 2.4, 4.5, 'python', 'lang', (1+2j), True]

### June 14th

#### Conditions
- if
- if else
- elif

In [3]:
i=0
if i<5:
# print("this is condition is true")#  IndentationError: expected an indented block
    print("True")

True

In [6]:
#multiple conditions
i=10
if i<5:
    print("True")
elif i==10:
    print("this is  valid stmt in elif")

this is  valid stmt in elif

In [71]:
#multiple conditions
i=10
if i>5:
    print("True")
if i>6:
    print("6>")
if i==10:
    print("this is  valid stmt in elif")

True
6>
this is  valid stmt in elif

In [7]:
i=10
if i<5:
    print("True")
elif i<8:
    print("this is  valid stmt in elif")
else:
    print("this will give me a default statement")

this will give me a default statement

In [8]:
i=10
if (i>5) & (i==10):
    print("True")
elif i<8:
    print("this is  valid stmt in elif")
else:
    print("this will give me a default statement")

True

In [13]:
i=10
if (i<5) or (i==10):
    print("True")
elif i<8:
    print("this is  valid stmt in elif")
else:
    print("this will give me a default statement")

True

In [14]:
i=10
s='Anee'
if i==10:
    if(type(s)==int):
        print("this is my name")
    else:
        print("this is a default condition")
else:
    print("this is default statement for outer if block")

this is a default condition

In [15]:
l=[3,4,4,5,6,'anee','kumar','xyz']
l

[3, 4, 4, 5, 6, 'anee', 'kumar', 'xyz']

In [16]:
l[::2]

[3, 4, 6, 'kumar']

In [25]:
for i in l:
    print(i,end=" ")

3 4 4 5 6 anee kumar xyz

In [31]:
#extract the only the integers

m=[]
for i in l:
    if (type(i)==int):
        m.append(i)
m

[3, 4, 4, 5, 6]

In [33]:
m=0
for i in l:
    if (type(i)==int):
        m+=i
m

22

In [39]:
print('a','n','e','e',sep="->")

a->n->e->e

In [40]:
for i in "Anee":
    print(i)

A
n
e
e

### for else

In [42]:
l=[4,5,6,6]
for i in l:
    print(i)
else:#if no break occur it will be executed
    print('else block')

4
5
6
6
else block

### Break
- break the current iteration if its hold True

In [43]:
l=[4,5,6,6]
for i in l:
    if i==6:
        break
    print(i)
else:#if no break occur it will be executed
    print('else block')

4
5

In [45]:
#Else block will be executed when the for loop is completely exhausted

l=[4,5,6,6]
for i in l:
    if i==9:
        break
    print(i)
else:#if no break occur it will be executed
    print('else block')

4
5
6
6
else block

### continue 
- skips the current iteration

In [48]:

s="Anee kumar Ak"
for i in s:
    if i=='k':
        continue
    print(i,end=' ')

A n e e   u m a r   A

### Range
- range(start,stop,step)
- default starts at 0 step=1

In [49]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [51]:
# list(range(1,10.6))
# TypeError: 'float' object cannot be interpreted as an integer

In [52]:
l=[5,6,7,8,9,'Ak','Kumar']
len(l)

7

In [58]:
for i in range(len(l)):
    print(l[i],end=" ")

5 6 7 8 9 Ak Kumar

In [57]:
for i in range(0,len(l),2):
    print(l[i],end=" ")

5 7 9 Kumar

### input()
- Read a string from standard input.  The trailing newline is stripped.

In [59]:
input()

3655367

'3655367'

In [60]:
a=input("enter the input ")
a

enter the input 182

'182'

In [63]:
type(a)
#by default string

str

In [64]:
a=int(input("enter the input "))

a

enter the input 762

762

In [65]:
type(a)

int

In [66]:
a=bool(input("enter the input "))
a

enter the input andd

True

In [69]:
bool('-andd')

True

### concatenation

In [73]:
# "python"+9 #Error

In [74]:
"python"+str('9')

'python9'

In [76]:
l=[1,2,3,4]
l1=[5,6,7,9,10]
l+l1

[1, 2, 3, 4, 5, 6, 7, 9, 10]

### different string representation

In [77]:
'hello'

'hello'

In [78]:
"hello ak"

'hello ak'

In [79]:
"this's is python live"

"this's is python live"

In [80]:
"""
hello
world 
python 

"""

'\nhello\nworld \npython \n\n'

In [81]:
s="hello world"

In [83]:
s.isupper()

False

In [85]:
upper_case=s.upper()
upper_case

'HELLO WORLD'

In [87]:
lower_case=s.lower()
lower_case

'hello world'

In [88]:
s.split()

['hello', 'world']

In [90]:
s='hello world Anee kumar'
s

'hello world Anee kumar'

In [91]:
s.split('o')

['hell', ' w', 'rld Anee kumar']

In [94]:
s1="+".join(s)
s1

'h+e+l+l+o+ +w+o+r+l+d+ +A+n+e+e+ +k+u+m+a+r'

In [95]:
"my name is {} my age is {}".format("user",30)

'my name is user my age is 30'

In [98]:
s.find('l') #return the first occurence

2

In [102]:
s.index('l')

2

In [105]:
s="hello world"

In [109]:
l=[]
l1=[]
for i in range(len(s)):
    if s[i]=='l':
        l.append(i)
        l1.append(s[i])

l,l1

([2, 3, 9], ['l', 'l', 'l'])

In [110]:
s="hello"
s.center(40,"*")

'*****************hello******************'

In [112]:
s.rjust(20,"*")

'***************hello'

In [113]:
s.ljust(20,"*")

'hello***************'

In [115]:
"hello\tworld".expandtabs()

'hello   world'

In [116]:
s.isalnum()

True

In [117]:
s.isalpha()

True

In [118]:
s.isnumeric()

False

In [119]:
s.isupper()

False

In [121]:
s.islower()

True

In [122]:
s.isspace()

False

In [126]:
"h e l l o \n w o r l d".isspace()

False

### list operation

In [128]:
l=["hello",100,3,4,4,873/763]
l

['hello', 100, 3, 4, 4, 1.144167758846658]

In [130]:
l.append(10)
l

['hello', 100, 3, 4, 4, 1.144167758846658, 10, 10]

In [132]:
l.insert(2,'6736')
l

['hello', 100, '6736', '6736', 3, 4, 4, 1.144167758846658, 10, 10]

In [136]:
l.pop()
l

['hello', 100, '6736', '6736', 3, 4]

In [137]:
l[::-1]

[4, 3, '6736', '6736', 100, 'hello']

In [138]:
l

['hello', 100, '6736', '6736', 3, 4]

In [141]:
l.reverse()

In [142]:
l

[4, 3, '6736', '6736', 100, 'hello']

In [148]:
l=[1,4,52,3,1,2]
l

[1, 4, 52, 3, 1, 2]

In [154]:
l.sort(reverse=False) #ASCENDING
l

[1, 1, 2, 3, 4, 52]

In [155]:
l.sort(reverse=True) #DECENDING 
l

[52, 4, 3, 2, 1, 1]

In [182]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=[6,5,7,8]

In [185]:
list(zip(l1,l2,l3))

[(1, 5, 6), (2, 6, 5), (3, 7, 7), (4, 8, 8)]

In [169]:
l=[l1,l2,l3]
l

[[1, 2, 3, 4], [5, 6, 7, 8], [6, 5, 7, 8]]

In [170]:
l[2][2]

7

In [173]:
m=[]
for lis in l:
    m.append(lis[2])
m

[3, 7, 7]

In [174]:
[i[2] for i in l]

[3, 7, 7]

In [180]:
l1=[4,5,6,7]
l1.append([10,20])
l1

[4, 5, 6, 7, [10, 20]]

In [181]:
l1.extend([100,200,300])
l1

[4, 5, 6, 7, [10, 20], 100, 200, 300]

In [192]:
l=[5,3,4,5,6,7,8,5,6,7,8,2,4,3,2,2,3]
while 2 in l:
    l.remove(2)
l

[5, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 4, 3, 3]

In [193]:
[i for i in l if i!=2]

[5, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 4, 3, 3]

In [202]:
# y=lambda x:i for i in x if i!=2
# y([2,1,3,1,2,3])

SyntaxError: invalid syntax (<ipython-input-202-53db9c1cfb5f>, line 1)

In [204]:
list(range(40,10,-3))

[40, 37, 34, 31, 28, 25, 22, 19, 16, 13]

In [205]:
s="anee "
s.isalpha()

False

In [215]:
l=[3,2,2,3]
for i in l:
    print(l)
    if i==2:
#         print(i)
        l.remove(2)
l

[3, 2, 2, 3]
[3, 2, 2, 3]
[3, 2, 3]

[3, 2, 3]

In [216]:
l=[3,2,2,3]
for i in l:
    print(l)
    if i==2:
#         print(i)
        l.remove(2)
l

[3, 2, 2, 3]
[3, 2, 2, 3]
[3, 2, 3]

[3, 2, 3]

In [221]:
l=[3,2,2,3]
i=0
while i<len(l):
    if l[i]==2:
        l.remove(2)
        i-=1
    if type(l[i])==list:
        j=0
        while j<len(l[i]):
            if l[i][j]==2:
                l[i].remove(2)
                j-=1
            j+=1
    i+=1
l

[3, 3]