### collections
- list
- tuple
- dict
- set
- frozenset
- namedtuple
- default dict

#### list
- append(
- extend()
- pop()
- insert()
- sort()
- reverse()
- index()
- remove()

In [68]:

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np

In [37]:
l=[]
l

[]

In [2]:
type(l)

list

In [3]:
l1=list('Anee')
l1

['A', 'n', 'e', 'e']

In [4]:
# l1=list(34)#error
# cant extract the integer data
l1=list('34')
l1

['3', '4']

In [5]:
l=[1,2,3,4]
l

[1, 2, 3, 4]

In [6]:
l[0]=100
l

[100, 2, 3, 4]

#### tuple
- iterable
- immutable

**methods**
- count 
- index

In [7]:
c=()
type(c)

tuple

In [8]:
c=(3,4,5,6,4,'Anee',4.57,6+8j)
type(c)

tuple

In [9]:
c.count(4)

2

In [10]:
dir(c)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [11]:
c[::-1]

((6+8j), 4.57, 'Anee', 4, 6, 5, 4, 3)

In [12]:
a=4,5,6,7

In [13]:
type(a),a[2]

(tuple, 6)

### named tuple

- immutable

In [29]:
import collections 
  
# Declaring namedtuple() 
Student = collections.namedtuple('Student',['name','age','DOB'])

In [30]:
S = Student('Anee','19','2541997') 
s1=Student('Ak',21,19990309)

In [31]:
s1.age

21

In [32]:
getattr(S,'age')

'19'

In [33]:
li = ['Manjeet', '19', '411997' ] 
Student._make(li)

Student(name='Manjeet', age='19', DOB='411997')

In [39]:
S._asdict()
s1._asdict()

OrderedDict([('name', 'Anee'), ('age', '19'), ('DOB', '2541997')])

OrderedDict([('name', 'Ak'), ('age', 21), ('DOB', 19990309)])

In [35]:
di = { 'name' : "Nikhil", 'age' : 19 , 'DOB' : '1391997' }
Student(**di)

Student(name='Nikhil', age=19, DOB='1391997')

In [40]:
str('15')

'15'

In [41]:
t=((3,4,5),(5,6,7))
t

((3, 4, 5), (5, 6, 7))

In [42]:
l=[(1,3,3,4)]
l[0][2]

3

In [43]:
b=([3,4,5],[4,5,6])
b

([3, 4, 5], [4, 5, 6])

In [44]:
c=(3,0,9,6)
c=list(c)
c[0]=100
c=tuple(c)
c

(100, 0, 9, 6)

#### Sets
**set(iterable)**

- immutable
- unsorted collections removes the duplicates
- 'add',
- 'clear',
- 'copy',
-  'difference',
-  'difference_update',
- 'discard',
- 'intersection',
- 'intersection_update',
- 'isdisjoint',
- 'issubset',
- 'issuperset',
- 'pop',
- 'remove',
- 'symmetric_difference',
- 'symmetric_difference_update',
- 'union',
-  'update'

In [45]:
s={2,3,4,5,5,5,5,555,3,'anee','kumar'}
s

{2, 3, 4, 5, 555, 'anee', 'kumar'}

In [46]:
len(s)

7

In [47]:
# dir(s)

In [48]:
# x=set(1,3,3)
x=set([2,4,2,3,5])
x

{2, 3, 4, 5}

In [49]:
x.add(10)
x

{2, 3, 4, 5, 10}

In [50]:
for i in x:
    print(i,end= " ")

2 3 4 5 10

In [51]:
# x[1]
# TypeError: 'set' object does not support indexing

In [52]:
x.clear()

In [53]:
x

set()

In [54]:
x={1,2,3,4,4,5,6,3,2,10}
x

{1, 2, 3, 4, 5, 6, 10}

In [55]:
x1=x.copy()

In [56]:
x1.add(20)

In [57]:
x,x1

({1, 2, 3, 4, 5, 6, 10}, {1, 2, 3, 4, 5, 6, 10, 20})

In [58]:
x.union(x1)

{1, 2, 3, 4, 5, 6, 10, 20}

In [59]:
x.add(100)
x.difference(x1)

{100}

In [60]:
x.intersection(x1)

{1, 2, 3, 4, 5, 6, 10}

In [61]:
x1.issubset(x)

False

In [62]:
# x1.remove(20)
x1

{1, 2, 3, 4, 5, 6, 10, 20}

In [63]:
x

{1, 2, 3, 4, 5, 6, 10, 100}

In [64]:
n={5,6,7,456,345,234,45,'anee','aavc',3,4,5,(10,67)}
n

{(10, 67), 234, 3, 345, 4, 45, 456, 5, 6, 7, 'aavc', 'anee'}

In [65]:
set('kane')

{'a', 'e', 'k', 'n'}


### dictionary
dict(iterable) -> new dictionary initialized as if via:
> d = {}
> for k, v in iterable:
> d[k] = v

In [66]:
d={'name':['muthyam Rana','Anee','Srikanth'],'Age':[17,20,20]}
type(d)

dict

In [74]:
x=pd.DataFrame(d)
x.insert(1,"college",value=["uce","trr","shreyas"])
x

           name  college  Age
0  muthyam Rana      uce   17
1          Anee      trr   20
2      Srikanth  shreyas   20

In [104]:
d1={'name':['anu','Anee'],'Age':[16,21],"college":["abc","uce"]}
d1
y=pd.DataFrame(d1)
y

{'name': ['anu', 'Anee'], 'Age': [16, 21], 'college': ['abc', 'uce']}

   name  Age college
0   anu   16     abc
1  Anee   21     uce

In [105]:
y.set_index('name')

      Age college
name
anu    16     abc
Anee   21     uce

In [106]:
x.append(y)

           name  college  Age
0  muthyam Rana      uce   17
1          Anee      trr   20
2      Srikanth  shreyas   20
0           anu      abc   16
1          Anee      uce   21

In [107]:
x
y
# x.merge()

           name  college  Age
0  muthyam Rana      uce   17
1          Anee      trr   20
2      Srikanth  shreyas   20

   name  Age college
0   anu   16     abc
1  Anee   21     uce

In [115]:
x.merge(y,how="right",left_on="name",right_on="name",suffixes=["-DF A","-DF B"])

   name college-DF A  Age-DF A  Age-DF B college-DF B
0  Anee          trr      20.0        21          uce
1   anu          NaN       NaN        16          abc

In [116]:
d['name'][0]

'muthyam Rana'

In [117]:
d1={"key1":'anee',"key2":'kumar',"key2":"muthyam"}

In [118]:
d1

{'key1': 'anee', 'key2': 'muthyam'}

In [119]:
d1['key2']

'muthyam'

In [122]:
d1={"key1":'anee',[1,2,3]:'kumar',"key2":"muthyam"}
d1 
# ket should be unique

TypeError: unhashable type: 'list'

In [123]:
d1={"key1":'anee',(1,2):'kumar',"key2":"muthyam"}
d1

{'key1': 'anee', (1, 2): 'kumar', 'key2': 'muthyam'}

In [126]:
d1[(1,2)]='kumar kumar'
d1

{'key1': 'anee', (1, 2): 'kumar kumar', 'key2': 'muthyam'}

In [129]:
d1={"key1":'anee',{10}:'kumar',"key2":"muthyam"}
# set cant be the key

TypeError: unhashable type: 'set'

In [130]:
d={'a':34,'b':345,'c':'Anee','d':{0:23,1:33}}
d

{'a': 34, 'b': 345, 'c': 'Anee', 'd': {0: 23, 1: 33}}

In [132]:
d['d'][0]

23

In [133]:
for i in d:
    print(i,end=" ")

a b c d

In [134]:
for i in d:
    print("{}:{}".format(i,d[i]),end=" ")

a:34 b:345 c:Anee d:{0: 23, 1: 33}

In [135]:
d.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [136]:
d.values()

dict_values([34, 345, 'Anee', {0: 23, 1: 33}])

In [137]:
d.items()

dict_items([('a', 34), ('b', 345), ('c', 'Anee'), ('d', {0: 23, 1: 33})])

In [138]:
for k,v in d.items():
    print("{}:{}".format(k,v))

a:34
b:345
c:Anee
d:{0: 23, 1: 33}

In [140]:
my_dict={True:'value1',"key2":"value2","key3":"value3"}
my_dict

{True: 'value1', 'key2': 'value2', 'key3': 'value3'}

In [142]:
my_dict["key45"]='fsffssss'

In [143]:
my_dict

{True: 'value1', 'key2': 'value2', 'key3': 'value3', 'key45': 'fsffssss'}

In [144]:
my_dict["key2"]=[1,2,3,4,5]

In [145]:
my_dict

{True: 'value1',
 'key2': [1, 2, 3, 4, 5],
 'key3': 'value3',
 'key45': 'fsffssss'}

In [146]:
my_dict['key1']=my_dict['key2']
my_dict

{True: 'value1',
 'key2': [1, 2, 3, 4, 5],
 'key3': 'value3',
 'key45': 'fsffssss',
 'key1': [1, 2, 3, 4, 5]}

In [ ]:
l=['anne','kumar','xyz','abs']

In [ ]:
{i[0]:i for i in l}

In [148]:
d={x:x**2 for x in range(1,10)}

In [149]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [150]:
d.update({2:8})

In [151]:
d

{1: 1, 2: 8, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

#### default dict

In [152]:
# Python program to demonstrate 
# defaultdict 


from collections import defaultdict 


# Function to return a default 
# values for keys that is not 
# present 
def def_value(): 
	return "Not Present"
	
# Defining the dict 
d = defaultdict(def_value) 
d["a"] = 1
d["b"] = 2

print(d["a"]) 
print(d["b"]) 
print(d["c"])

1
2
Not Present

In [153]:
d = defaultdict(lambda: "Not Present") 
d["a"] = 1
d["b"] = 2
  
print(d["a"]) 
print(d["b"]) 
print(d["c"])

1
2
Not Present

In [155]:
# Python program to demonstrate 
# defaultdict 


from collections import defaultdict 


# Defining a dict 
d = defaultdict(list) 

for i in range(5): 
	d[i].append([i,i+i]) 
	
print("Dictionary with values as list:") 
print(d)

Dictionary with values as list:
defaultdict(<class 'list'>, {0: [[0, 0]], 1: [[1, 2]], 2: [[2, 4]], 3: [[3, 6]], 4: [[4, 8]]})

In [157]:
d = defaultdict(int) 
   
L = [1, 2, 3, 4, 2, 4, 1, 2,4,4,4] 
for i in L:
    d[i]+=1
d

defaultdict(int, {1: 2, 2: 3, 3: 1, 4: 5})

#### ordered dict

In [158]:
# A Python program to demonstrate working of OrderedDict 
from collections import OrderedDict 

print("This is a Dict:\n") 
d = {} 
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4

for key, value in d.items(): 
	print(key, value)

This is a Dict:

a 1
b 2
c 3
d 4

In [159]:

print("\nThis is an Ordered Dict:\n") 
od = OrderedDict() 
od['a'] = 1
od['b'] = 2
od['c'] = 3
od['d'] = 4

for key, value in od.items(): 
	print(key, value)

This is an Ordered Dict:

a 1
b 2
c 3
d 4

In [162]:
# od.pop('c')
od
od['c']=23

OrderedDict([('a', 1), ('b', 2), ('c', 23), ('d', 4)])

In [163]:
od

OrderedDict([('a', 1), ('b', 2), ('c', 23), ('d', 4)])

# Functions

In [164]:
def foo():
    pass

In [ ]:
# The locals() method updates and returns a dictionary of the current local symbol table.
# locals()

In [165]:
# globals()

In [166]:
foo()

In [167]:
def test():
    print("this is first functoin")
test()

this is first functoin

In [168]:
a=test()
#by default it returns the None value
# a+"sjsh" #error

this is first functoin

In [169]:
def test1():
    return {1,2,3,4}
    return 10+2j
    return {1:1,2:10}
    return {1,2,3,4}
    return [1,3,4,4]
    return True
    return 1,2,33
    return "this is my first function with return"
test1()

{1, 2, 3, 4}

In [ ]:
# test1()+"ajhjds"

In [170]:
a=test1()
type(a)

set

In [171]:
b,_,_,i=test1()

In [172]:
b,_,_,i

(1, 3, 3, 4)

#### Global scope

In [173]:
def f(): 
    s = "Me too."
    print (s) 

# Global scope 
s = "I love Geeksforgeeks"
f() 
print (s )

Me too.
I love Geeksforgeeks

In [176]:
def f(): 
#     global s
    print (s) 
    s = "Me too."
 

# Global scope 
s = "I love Geeksforgeeks"
f() 
print (s )

UnboundLocalError: local variable 's' referenced before assignment

In [177]:
def f(): 
    global s 
    s = "Me too."
    print(s)
 

# Global scope 
s = "I love Geeksforgeeks"
f() 
print (s )

Me too.
Me too.

In [180]:
def test2(a,b):
    return a+b

test2(2,2)

4

In [181]:
test2('anee','kumar')

'aneekumar'

In [182]:
test2([1,2,2,3],[2])

[1, 2, 2, 3, 2]

In [183]:
test2((1,2,3),(1,2))

(1, 2, 3, 1, 2)

In [184]:
test2({1:"2"},{2:"3"})

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [187]:
def t(a=10,b):
    pass

SyntaxError: non-default argument follows default argument (<ipython-input-187-687b0c31d21f>, line 1)

In [194]:
def t(a,b=10,c=20):
    """
    takes the 3 parameters returns the required opertion
    """
    return a+b+c
t(10)

40

## JUNE 21st

In [191]:
def test(a,b=1):
    return a+b

test(10,10)

20

In [197]:
def test(a,n,m,b=1): #default and no default arguments
    return a+b

test(10,10,10) #postional arguments

11

In [203]:
def modifylist(a):
    l=[]
    if type(a)==list:
        for i in a:
            l.append(i+4)
        return l
    print("Input is not as list")

In [204]:
modifylist([1,2,3,4])

[5, 6, 7, 8]

In [205]:
modifylist((1,2,3))

Input is not as list

In [206]:
def gretting(name):
    print("Hello %d"%name)

In [207]:
gretting(12)

Hello 12

In [215]:
from math import *
def is_prime(num):
    """
    Naive method of checking for primes
    """
    
    for i in range(2,floor(sqrt(num))):
        if num%i==0:
            return False
    return True

In [218]:
is_prime(13)

True

In [230]:
break_count=0
prime_count=0
for num in range(2,101):
    for i in range(2,num):
        if num%i==0:
            break_count+=1
            break
    else:
        prime_count+=1
        print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [231]:
break_count
prime_count

74

25

In [232]:
def is_pime(num):
    if num%2==0 and num>2:
        return False
    for i in range(3,int(sqrt(num))+1,2):
        if num%i==0:
            return False
    else:
        return True

In [234]:
is_pime(36)

False

### Iterators and Generators

In [235]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [238]:
def gencubes(n):
    for num in range(n):
        print(num**3)

In [239]:
gencubes(8)

0
1
8
27
64
125
216
343

In [240]:
def gencubes(n):
    for num in range(n):
        yield num**3

In [243]:
list(gencubes(6))

[0, 1, 8, 27, 64, 125]

In [241]:
for x in gencubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [244]:
#string is iterable 

#but string is not a iter 

#An iter is class which supports next methods

In [245]:
s="Anee"
[i for i in s]

['A', 'n', 'e', 'e']

In [246]:
next(76) #int is not a iterator

TypeError: 'int' object is not an iterator

In [247]:
next(s)

TypeError: 'str' object is not an iterator

In [248]:
s=iter(s)

In [249]:
next(s)

'A'

In [250]:
next(s)

'n'

In [254]:
next(s)
#at  end the  raise the Stop Itertion

StopIteration:

In [259]:
def custom_iter(s):
    try:
        print(next(s))
    except:
        pass

custom_iter(s)

In [260]:
l=[1,2,3,4]
next(l)

TypeError: 'list' object is not an iterator

In [261]:
b=gencubes(10)

In [265]:
next(b)

27

In [266]:
next(range(5))

TypeError: 'range' object is not an iterator

In [267]:
b=iter(range(5))

In [269]:
next(b)

1

In [285]:
def genfib(n):
    """
    Generate a fibnacci sequence up to n
    
    """
    a=1
    b=1
    for   i in range(n):
        print(a,end=" ")
        a,b=b,a+b
#         print(a,b,sep=";")

In [286]:
genfib(10)

1 1 2 3 5 8 13 21 34 55

In [287]:
def genfib(n):
    """
    Generate a fibnacci sequence up to n
    
    """
    a=1
    b=1
    for   i in range(n):
#         print(a,end=" ")
        yield a
        a,b=b,a+b
#         print(a,b,sep=";")

In [289]:
list(genfib(10))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [294]:
a=b=2
a
b
a,b,c=12,1,2
a,b,c

2

2

(12, 1, 2)

In [299]:
def fibon(n):
    output=[]
    a=b=1
    for i in range(n):
        output.append(a)
        a,b=b,a+b
    return output

In [301]:
a=fibon(16)
a

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [302]:
def fah(T):
    return ((float(9)/5)*T+32)

def celsius(T):
    return (float(5)/9)*(T-32)

temp=[0,22.5,40,100]

def sum(x,y):
    return x+y

In [305]:
fah(40)

104.0

In [306]:
celsius(104)

40.0

In [307]:
sum(10,20)

30

In [303]:
l=[]
for i in temp:
    l.append(fah(i))

In [304]:
l

[32.0, 72.5, 104.0, 212.0]

### map(fun,iterable)

In [317]:
f=list(map(fah,temp))

In [318]:
f

[32.0, 72.5, 104.0, 212.0]

In [319]:
def test(b):
    return b**5

L=[1,2,3,4]

m=[]
for i in L:
    m.append(test(i))
    
m

[1, 32, 243, 1024]

In [322]:
list(map(test,L))

[1, 32, 243, 1024]

In [326]:
# map()
list(map(lambda x:x**5,L))

[1, 32, 243, 1024]

In [327]:
a=[1,2,3,4]
b=[4,4,5,6]
c=[10,2,4,6]

list(map(lambda x,y:x+y,a,b))

[5, 6, 8, 10]

In [328]:
list(map(lambda x,y,z:x+y+z,a,b,c))

[15, 8, 12, 16]

### reduce()

In [330]:
from functools import reduce

In [331]:
lst=[1,2,3,4,5]
reduce(lambda a,b:a+b,lst)

15

In [332]:
reduce(sum,lst)

15

In [1]:
import numpy as np

In [2]:
90/np.sqrt(120)

8.215838362577491

In [3]:
(1100-1000)/8.215838362577491

12.171612389003691